@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100..900&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Inter:wght@100..900&family=Lobster&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: rgb(126, 85, 33);
  --text-color: white;
  --darker-text: rgb(197, 197, 197);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(Bilder/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  width: 100%;
}

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  gap: 1rem;
  text-align: center;
  background-color: rgb(48, 48, 48);
}

.nav-link {
  color: var(--text-color);
  margin: 0px 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--main-color);
}

.header {
  display: flex;
  justify-content: center;
}

.menu-header {
  margin: 2rem auto 0 auto;
  width: fit-content;
  text-transform: uppercase;
  border-bottom: 2px solid;
  border-color: var(--main-color);
  font-size: 2.5rem;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem auto 1rem auto;
  gap: 1rem;
}

.polaroid {
  display: grid;
  place-items: center;
  margin-bottom: 4rem;
}

.polaroid-container {
  width: 9rem;
  height: 9.5rem;
  background-color: white;
  position: relative;
  padding: 1rem 1rem 3rem 1rem;
}

.polaroid-picture {
  width: 100%;
  height: 100%;
}

.burger {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(Bilder/menu-burger.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.sides {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(Bilder/menu-pommes.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.drinks {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(Bilder/menu-drinks.jpg);
  background-size: cover;
  background-position: 50% 63%;
}

.dessert {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(Bilder/menu-dessert.jpg);
  background-size: cover;
  background-position: 20% 80%;
}

figcaption {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #2c2c2c;
  margin-top: 0.3rem;
}

.polaroid-container:before,
.polaroid-container:after {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 6rem;
  background-color: rgba(102, 102, 102, 0.6);
  transform: rotate(-40deg);
}

.polaroid-container:before {
  top: 3px;
  left: -25px;
}

.polaroid-container:after {
  bottom: 5px;
  right: -25px;
}

.text-right,
.text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 0 3.5rem 0;
  margin: 0 10px;
}

.text-container {
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 15vh;
  background-color: rgb(48, 48, 48);
}

.footer-links {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  font-size: small;
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 1rem;
  }

  .footer-links {
    flex-direction: column;
    font-size: 14px;
    gap: 4px;
    padding-top: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .text-right {
    margin: 0 80px 0 0;
  }

  .text-left {
    margin: 0 0 0 60px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    font-size: 1.3rem;
  }

  .menu-header {
    margin: 3rem auto 0 auto;
    font-size: 3.5rem;
  }

  .menu {
    margin: 5rem auto 2rem auto;
    gap: 1rem;
  }

  .text-right {
    margin: 0 120px 0 40px;
  }

  .text-left {
    margin: 0 40px 0 100px;
  }

  .polaroid-container {
    width: 14rem;
    height: 14.5rem;
    padding: 1.5rem 1.5rem 4.5rem 1.5rem;
  }

  figcaption {
    font-size: 2rem;
    margin-top: 0.7rem;
  }

  .text-container {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }
}
